.menu {
  background-color: #46b7d6;
  padding: 10px;
  border-right: 2px;
}
.de {
  display: flex;
  background-color: antiquewhite;
}
p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  color: red;
  margin: 50px;
}
img {
  width: 30%;
  height: 30%;
}
.menu > a {
  font-size: 25px;
  color: white;
  margin: 150px;
}
